.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  background-color: var(--hundred);
  color: white;
  flex: 0 0 100%;
  flex-grow: 1;
  position: relative;
}

.wrapper.sidebarOpen {
  width: auto;
  margin-left: 250px;
}

.wrapperLight {
  background-color: #fff;
}

.icon {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 10px;
  background-size: inherit;
  outline: none;
  border: none;
  transition: background 0.5s;
}

.openEyeIcon {
  background: url('../../assets/icon-show-preview.svg') center no-repeat;
}

.openEyeIcon:hover {
  background: url('../../assets/icon-show-preview-hover.svg') center no-repeat;
  background-size: inherit;
}

.closedEyeIcon {
  background: url('../../assets/icon-hide-preview.svg') center no-repeat;
}

.closedEyeIcon:hover {
  background: url('../../assets/icon-hide-preview-hover.svg') center no-repeat;
  background-size: inherit;
}