.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  background-color: var(--hundred);
  color: white;
  flex: 0 0 100%;
  flex-grow: 1;
}

.wrapper.sidebarOpen {
  width: auto;
  margin-left: 250px;
}
