.textarea {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  line-height: 24px;
  resize: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  border-radius: 0;
  border: none;
  background: var(--hundred);
  color: var(--forty);
  padding: 16px;
}
