.container {
  flex: 1;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  @media (max-width: 600px) {
    height: calc(100vh - 56px);
  }
}

.title {
  width: 100%;
  color: var(--forty);
  background: var(--ninety);
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: space-between;
}

.titleLight {
  background: var(--twenty);
  color: var(--fifty);
}

.titleDark {
  background: var(--ninety);
}


.title h1 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 16px;
  letter-spacing: 2px;
}

.icon {
  position: relative;
  right: 5px;
  padding: 10px;
  cursor: pointer;
}