.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--ninety);
  transition: transform 0.3s ease-out;
  color: white;
  width: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar.open {
  width: 250px;
  /*padding: 20px;*/
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin: 3px 0 0 0;
  display: none;
  text-transform: uppercase;
  @media (max-width: 900px) {
    display: block;
    margin-bottom: 27px;
    letter-spacing: 3px;
    font-weight: bold;
  }
}

.header {
  text-transform: uppercase;
  color: var(--fifty);
  font-size: 14px;
  letter-spacing: 1px;
  margin: 3px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  background: var(--orange);
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 30px 0 24px;
  gap: 4px;
  padding: 10px 0;

  &:hover {
    background: var(--orange-light);
  }
}

.documentList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px
}

.documentInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.documentDate {
  color: var(--fifty);
  font-size: 13px;
  margin: 0;
}

.documentTitle {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

/*Theme Toggler*/

.toggleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 12px;
}

.themeToggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.themeToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.themeToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sixty);
  transition: .4s;
  border-radius: 34px;
}

.themeToggleSlider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .themeToggleSlider {
  /*background-color: #2196F3;*/
}

input:checked + .themeToggleSlider:before {
  transform: translateX(26px);
}

.darkModeIcon svgclipPath {
  fill: white;
}
