.textPreview {
  margin: 24px;
}

blockquote {
  border-left: 4px solid #e46643;
  padding: 24px 32px 24px 20px;
  background: #2b2d31;
  color: #fff;
  margin-left: 0;
  border-radius: 4px;
}

a {
  color: white;
}

pre, p code {
  background: #2b2d31;
  padding: 24px;
  border-radius: 4px;
  overflow-x: auto;
  color: white;
}

p code {
  padding: 2px 4px;
}

hr {
  border: 0;
  height: 1px;
  background: #979797;
  margin: 24px 0;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #c1c4cb;
  margin: 21px;
}

h2 {
  font-size: 28px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}