.textPreview {
  max-width: 672px;
  padding: 0 24px 63px;
}

.textPreviewLight {
  background: #fff;
  color: var(--eighty);
}

.textPreview blockquote {
  border-left: 4px solid var(--orange);
  padding: 24px 32px 24px 20px;
  background: var(--eighty);
  color: #fff;
  margin-left: 0;
  border-radius: 4px;
}

.textPreview blockquote p {
  margin: 0;
  font-weight: bold;
}

.textPreview a {
  color: white;
}

.textPreview pre, .textPreview code {
  background: var(--eighty);
  padding: 24px;
  border-radius: 4px;
  overflow-x: auto;
  color: white;
}

.textPreview code {
  padding: 2px 4px;
  font-size: 14px;
  line-height: 24px;
}

.textPreview hr {
  border: 0;
  height: 1px;
  background: #979797;
  margin: 24px 0;
}

.textPreview p {
  font-size: 14px;
  line-height: 24px;
  color: var(--forty);
  margin: 21px 0;
}

.textPreview h2 {
  font-size: 28px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: lighter;
}

.textPreview h3 {
  font-size: 24px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  margin: 21px 0;
}

.textPreview h4 {
  font-size: 20px;
  line-height: normal;
  margin: auto;
}

.textPreview h5 {
  font-size: 16px;
  margin: auto;
}

.textPreview h6 {
  font-size: 14px;
  color: var(--orange);
  margin: auto;
}


.textPreview ol {
  line-height: 24px;
  font-size: 14px;
}

.textPreview li {
  padding: 4px 0;
  font-size: 14px;
  line-height: 24px;
}

.textPreview li::marker {
  color: var(--orange);
}

.textPreviewLight p,
.textPreviewLight ol {
  color: var(--fifty);
}

.textPreviewLight blockquote {
  background: var(--twenty);

}

.textPreviewLight blockquote p {
  color: var(--seventy);
}

.textPreviewLight a {
  color: var(--seventy);
}

.textPreviewLight pre,
.textPreviewLight code {
  background: var(--twenty);
  color: var(--seventy);
}