.textPreview {
  margin: 24px;
}

.textPreview blockquote {
  border-left: 4px solid var(--orange);
  padding: 24px 32px 24px 20px;
  background: var(--eighty);
  color: #fff;
  margin-left: 0;
  border-radius: 4px;
}

.textPreview a {
  color: white;
}

.textPreview pre, .textPreview p code {
  background: var(--eighty);
  padding: 24px;
  border-radius: 4px;
  overflow-x: auto;
  color: white;
}

.textPreview p code {
  padding: 2px 4px;
}

.textPreview hr {
  border: 0;
  height: 1px;
  background: #979797;
  margin: 24px 0;
}

.textPreview p {
  font-size: 14px;
  line-height: 24px;
  color: var(--forty);
  margin: 21px;
}

.textPreview h2 {
  font-size: 28px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: lighter;
}

.textPreview h3 {
  font-size: 24px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}
